<!-- boiler-plate code was here -->
<%- include("partials/header.ejs") %>

    <!-- toast hidden by default until triggered -->
    <div id="toast" class="toast" style="display: none;">
        <span class="icon">❗</span>
        <span class="message">User already exists</span>
        <span class="close" onclick="closeToast()">&times;</span>
        <div class="progress"></div>
      </div>
      
    <!-- sign up pop up hidden by default -->
     <div class="position-sign-up-cont" id="sign-up-container">
        <div class="sign-up-container" id="sign-up-container">
            <form action="/signup" method="post">
                <div class="grp">
                    <div>Sign Up</div>
                    <div>
                        <img src="/images/frontend_assets/cross_icon.png" onclick="closePopup()" alt="close-icon">
                    </div>
                </div>
    
                <input type="text" placeholder="Your name" id="name" name="name" required>
                <input type="email" placeholder="Your Email" id="email" name="email" required>
                <input type="password" placeholder="Password" id="password" name="password" required>
                <!-- <input type="button" value="Create account"> -->
                <button type="submit" value="Submit">Create account</button>
                <div class="checkbox-cont">
                    <input type="checkbox" id="checkbox" required="true">
                    <div>By continuing, i agree to the terms of use and privacy policy</div>
                </div>
                <div>Already have an account? <a onclick="showLoginPage()">Login here</a></div>
            </form>
         </div>
     </div>

     <!-- login-page -->
     <div class="position-sign-up-cont" id="log-in-container">
        <div class="sign-up-container log-in-cont" id="log-in-container">
            <form action="/login" method="post">
                <div class="grp">
                    <div>Login</div>
                    <div>
                        <img src="/images/frontend_assets/cross_icon.png" onclick="closePopup()" alt="close-icon">
                    </div>
                </div>
    
                <input type="email" placeholder="Your Email" id="email" name="email" required>
                <input type="password" placeholder="Password" id="password" name="password" required>
                <button type="submit" value="Submit" id="login-btn">Log in</button>
                <div class="checkbox-cont">
                    <input type="checkbox" id="checkbox" required="true">
                    <div>By continuing, i agree to the terms of use and privacy policy</div>
                </div>
                <div>Sign up instead? <a onclick="showSignUpPage()">Sign Up</a></div>
            </form>
         </div>
     </div>
     
     <!-- nav bar was here -->

    <div class="hero-container">
        <section class="hero">
            <img src="/images/frontend_assets/header_img.png" alt="header_img">
            <div class="overlay">
                <div id="order-text">Order your favourite<br>food here</div>
                <div id="overlay-text">Welcome to Tomato, where delicious meals meet doorstep delivery. Satisfy your cravings with<br>
                    fresh, fast, and flavorful dishes prepared with care and delivered with love. Browse our menu,<br>
                    order with ease, and enjoy quality food anytime, anywhere.</div>
                     <a href="#view-menu">
                        <input type="button" value="View Menu" id="view-menu-btn">
                     </a>
            </div>
        </section>
    </div>

    <section class="section-services" id="view-menu">
        <div>Explore our menu</div>
        <p id="section-services-paragraph">Craving something tasty? Explore our wide range of freshly made dishes. Delivered hot to your
            doorstep, quickly and with care. Order now, enjoy later, and savor the flavor in every bite.</p>
        <div class="food-menu">
            <div>
                <img src="/images/frontend_assets/menu_1.png" alt="menu_1">
                <p>Salad</p>
            </div>
            <div>
                <img src="/images/frontend_assets/menu_2.png" alt="menu_2">
                <p>Rolls</p>
            </div>
            <div>
                <img src="/images/frontend_assets/menu_3.png" alt="menu_3">
                <p>Desserts</p>
            </div>
            <div>
                <img src="/images/frontend_assets/menu_4.png" alt="menu_4">
                <p>Sandwich</p>
            </div>
            <div>
                <img src="/images/frontend_assets/menu_5.png" alt="menu_5">
                <p>Cake</p>
            </div>
            <div>
                <img src="/images/frontend_assets/menu_6.png" alt="menu_6">
                <p>Pure Veg</p>
            </div>
            <div>
                <img src="/images/frontend_assets/menu_7.png" alt="menu_7">
                <p>Pasta</p>
            </div>
            <div>
                <img src="/images/frontend_assets/menu_8.png" alt="menu_8">
                <p>Noodles</p>
            </div>
        </div>
        <hr>
    </section>

    <section class="dishes-near-you">
        <div>Top dishes near you</div>

        <div class="dishes">

            <!-- this section isnt working -->
            <div class="dishes-1-fix">
                <div class="dishes-1-grp-1 dishes-1-grp-all">
                    <img src="/images/frontend_assets/food_1.png" alt="food-1" class="dishes-img">
                    
                        <img src="/images/frontend_assets/add_icon_white.png" alt="add_icon_white" class="add_icon_white-loggedin">
                            <img src="/images/frontend_assets/add_icon_white.png" alt="add_icon_white" class="add_icon_white">
                </div>
                
                <div class="dishes-1-cont greek-salad">
                    <div class="dishes-1-grp-2">
                        <div>Greek Salad</div>
                        <img src="/images/frontend_assets/rating_starts.png" alt="rating">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Vero ex</p>
                    <div class="price-tag">$12</div>
                </div>
            </div> 
            <!-- fucking line wont work and i cant remove 
                 it cos it fuck up my code
             so i set it to display none -->
            


            <!-- first food code starts here -->

            <!-- what i did here is that when the user is not logged in,
              when u click on a food it shows the signin popup
               (because the user must be logged in to order for food) -->
             <% if (!user) { %>
                <% foods.forEach(function(food) { %> <!-- create a new post and not let the previous one overrite the newer one -->
            <div class="all-dishes" onclick="openPopup()">
                <div class="dishes-1-grp-1 dishes-1-grp-all">
                    <img src="/images/<%= food._id %>" alt="food-1" class="dishes-img">
                    
                    <% if (!user) { %>
                        <img src="/images/frontend_assets/add_icon_white.png" alt="add_icon_white" class="add_icon_white_loggedin">
                        <% } else { %>
                            <img src="/images/frontend_assets/add_icon_white.png" alt="add_icon_white" class="add_icon_white" onclick="showIncr_decr_product_quantity(event)">
                            <% } %>

                            <div class="incr-decr-product-quantity">
                                <img src="/images/frontend_assets/remove_icon_red.png" alt="remove_icon_red" class="remove_icon_red">
                                <div class="food-quantity">1</div>
                                <img src="/images/frontend_assets/add_icon_green.png" alt="add_icon_green" class="add_icon_green">
                            </div>
                            
                </div>
                
                <div class="dishes-1-cont">
                    <div class="dishes-1-grp-2">
                        <div><%= food.title %></div>
                        <img src="/images/frontend_assets/rating_starts.png" alt="rating">
                    </div>
                    <p><%= food.description %></p>
                    <div class="price-tag">$<%= food.price %></div>
                </div>
            </div>
            <%  }) %>

            <!-- else, if the user is logged in, u can order -->
            <% } else { %>
                <% foods.forEach(function(food) { %> <!-- create a new food and not let the previous one overrite the newer one -->
                <div class="all-dishes">
                    <div class="dishes-1-grp-1 dishes-1-grp-all">
                        <img src="/images/<%= food._id %>" alt="food-1" class="dishes-img">
                        
                        <% if (!user) { %>
                            <img src="/images/frontend_assets/add_icon_white.png" alt="add_icon_white" class="add_icon_white_loggedin"> 
                            <!--if user is not logged in, display the plus icon without an onclick to add items to cart -->
                            <% } else { %>
                                <!-- else if user is logged in display the plus icon with an onclick to add items to cart -->
                                <img 
                                    src="/images/frontend_assets/add_icon_white.png" 
                                    alt="add_icon_white" 
                                    class="add_icon_white" 
                                    data-id="<%= food._id %>" 
                                    data-title="<%= food.title %>" 
                                    data-price="<%= food.price %>" 
                                    onclick="showIncr_decr_product_quantity(event)">
                                <% } %>
    
                                <div class="incr-decr-product-quantity">
                                    <img src="/images/frontend_assets/remove_icon_red.png" alt="remove_icon_red" class="remove_icon_red" data-id="<%= food._id %>">
                                    <div class="food-quantity">1</div>
                                    <img src="/images/frontend_assets/add_icon_green.png" alt="add_icon_green" class="add_icon_green" data-id="<%= food._id %>">
                                </div>      
                                
                    </div>
                    
                    <div class="dishes-1-cont">
                        <div class="dishes-1-grp-2">
                            <div><%= food.title %></div>
                            <img src="/images/frontend_assets/rating_starts.png" alt="rating">
                        </div>
                        <p><%= food.description %></p>
                        <div class="price-tag">$<%= food.price %></div>
                    </div>
                </div>
                <%  }) %>
                <% } %>
                <!-- first food code ends here -->
            
    </section>

    <div class="app-promo">
        <div>For Better Experience Download<br>Tomato App</div>
        <div><img src="/images/frontend_assets/play_store.png" alt="play_store">
             <img src="/images/frontend_assets/app_store.png" alt="app-store"></div>
    </div>

    <!-- footer was here -->
    <%- include("partials/footer.ejs") %>

    
<script>
    const params = new URLSearchParams(window.location.search);

    if (params.has('showLogin')) {
        document.getElementById('log-in-container').style.display = 'flex';
    }

    if (params.has('showSignup')) {
        document.getElementById('sign-up-container').style.display = 'flex';
    }

    if (params.has('userExists')) {
        showToast("User already exists");
    }

    if (params.has('incorrectDetails')) {
        showToast("Incorect email or password");
    }

    function showToast(message) {
        const toast = document.getElementById("toast");
        toast.querySelector(".message").textContent = message;
        toast.style.display = "flex";

        const progress = toast.querySelector(".progress");
        progress.style.animation = "none";
        void progress.offsetWidth; // Restart animation
        progress.style.animation = "progressBar 3s linear forwards";

        setTimeout(() => {
        toast.style.display = "none";
        }, 3000);
    }

    function closeToast() {
        document.getElementById("toast").style.display = "none";
    }  
</script>

<script>
      function showIncr_decr_product_quantity(event) {
    const container = event.target.closest(".dishes-1-grp-1");
    const incrDecr = container.querySelector(".incr-decr-product-quantity");
    const addIcon = container.querySelector(".add_icon_white");

    // Show quantity UI, hide plus icon
    incrDecr.style.display = "flex";
    addIcon.style.display = "none";

    // Extract food data from the clicked image
    const foodId = event.target.dataset.id;
    const title = event.target.dataset.title;
    const price = event.target.dataset.price;

    // Debug log
    console.log("Adding to cart:", { foodId, title, price });

    // Send data to server
    fetch("/cart/add", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ 
            foodId: foodId,  // example: "662f9a..."
            title: title,
            price: price,
            quantity: 1 })
            })
    .then(res => res.json())
    .then(data => {
        console.log("Server response:", data);
    })
    .catch(error => {
        console.error("Error adding to cart:", error);
    });
}

        document.getElementById("dot-icon").style.display = "flex" 
        // display the dot icon on the basket icon 
        // to indicate a food has been added to cart
</script>


<script>
    
    document.addEventListener("DOMContentLoaded", () => {
    // Increase quantity
    document.querySelectorAll(".add_icon_green").forEach(button => {
        button.addEventListener("click", function () {
            const foodId = this.dataset.id;
            fetch("/cart/increase", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ foodId })
            })
            .then(res => res.json())
            .then(data => {
                console.log("Increased:", data);
                // Optional: Update quantity on page
            })
            .catch(err => {
                console.error("Error increasing quantity.", err);
            });
        });
    });

    // Decrease quantity
    document.querySelectorAll(".remove_icon_red").forEach(button => {
        button.addEventListener("click", function () {
            const foodId = this.dataset.id;
            fetch("/cart/decrease", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ foodId })
            })
            .then(res => res.json())
            .then(data => {
                console.log("Decreased:", data);
                // Optional: Update quantity on page
            })
            .catch(err => {
                console.error("Error decreasing quantity.", err);
            });
        });
    });
});


</script>
    
  

<script>
    document.querySelectorAll(".incr-decr-product-quantity").forEach((container) => {
      const quantityEl = container.querySelector(".food-quantity");
      const addBtn = container.querySelector(".add_icon_green");
      const removeBtn = container.querySelector(".remove_icon_red");
  
      addBtn.addEventListener("click", () => {
        let quantity = parseInt(quantityEl.textContent);
        quantity++;
        quantityEl.textContent = quantity;
      });
  
      removeBtn.addEventListener("click", () => {
        let quantity = parseInt(quantityEl.textContent);
        if (quantity > 1) {
          quantity--;
          quantityEl.textContent = quantity;
        }
      });
    });
  </script>
  
  
    
    <script src="/javascripts/signin_popup.js"></script>
    <script src="/javascripts/drop_down_menu.js"></script>

</body>

</html>